.loginwrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.loginform,
.register {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.loginbutton {
    margin-top: 10px;
}