.registerwrapper {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.registerform,
.login {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.registerbutton {
    margin-top: 10px;
}