.cocktailofthedaywrapper{
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.cocktailofthedayimage {
    width: 70%;
    padding: 20px 0;
}

.cocktailcard {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 50vw;
}

.cocktailofthedaybutton {
    width: 40vw;
    margin-top: 100px;
    padding: 20px 50px;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #9DB78A;
}

.cocktailinfo {
    margin-bottom: 10px;
}